{:deps true
 :dev-http {3000 "./"}
 :builds
 {:test {:target :browser
         :output-dir "out"
         :modules {:main {:entries [uix.test-runner]}}
         :compiler-options {:output-feature-set :es2018}
         :release {:compiler-options {:infer-externs true
                                      :closure-defines {goog.DEBUG false}}}}
  :benchmark {:target :browser
              :output-dir "out"
              :modules {:main {:entries [uix.benchmark]}}
              :release {:compiler-options {:infer-externs true
                                           :closure-defines {goog.DEBUG false}}}}
  :linter-test {:target :browser
                :output-dir "out"
                :modules {:main {:entries [uix.linter-test]}}}

  :examples {:target :browser
             :output-dir "out"
             :asset-path "/out"
             :modules {:main {:entries [uix.examples]}}
             :release {:compiler-options {:infer-externs true
                                          :closure-defines {goog.DEBUG false}}}}}}
