{:deps true
 :builds
 {:test {:target :node-script
         :main uix.dom.server-test/-main
         :output-dir "out"
         :output-to "out/main.js"}

  :ssr {:target :browser
        :output-dir "out"
        :modules {:main {:entries [example.ui]
                         :init-fn example.ui/render}}}

  :linter-test {:target :browser
                :output-dir "out"
                :modules {:main {:entries [uix.dom.linter-test]}}}}}
